@import "tailwindcss";

@theme {
  --color-background: var(--color-gray-200);
  --color-foreground: var(--color-black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-50: var(--color-amber-50);
  --color-primary-100: var(--color-amber-100);
  --color-primary-200: var(--color-amber-200);
  --color-primary-600: var(--color-amber-600);
  --color-primary-700: var(--color-amber-700);
  --color-primary-800: var(--color-amber-800);

  --color-secondary-100: var(--color-orange-100);
  --color-secondary-700: var(--color-orange-700);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: all;
}
